
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Montserrat:wght@300;400;500;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Roboto:wght@400;500&family=Rubik:ital,wght@0,300;0,400;1,400&family=Varela&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
body{
  width: 100%;
  overflow-x: hidden;
}
@keyframes animationDown {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40%{
    transform: translateY(5px);
  }
  60%{
    transform: translateY(3px);
  }
}
